<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type="text/css" href="/details.css">
        <link rel="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&scp=49549114022&origin=inward"/>


<div id ="bodybox">
    
    <% var status = data["@status"] %>
    <% var coredata = data["coredata"] %>
    <% var authprofile = data["author-profile"] %>

    <% var cited = coredata["cited-by-count"] %>
    <% var citation = coredata["citation-count"] %>
    <% var links = coredata["link"][0]["@href"] %>

    <% var name = authprofile["preferred-name"]["indexed-name"] %>

    <% var publications = authprofile["publication-range"] %>
    <% var journalHist = authprofile["journal-history"] %>

    <% var startPub = publications["@start"] %>
    <% var endPub = publications["@end"] %>

    <% var journal = journalHist["journal"] %>

    <h1><%= name %></h1>
    
    <h2>Publication Duration </h2>
    <h3><%= startPub %> - <%= endPub %></h3>

    <h2>Cited-by-count</h2>
    <h3><%= cited %></h3>
    <h2>Citation-count</h2>
    <h3><%= citation %></h3>
    

    <h2> Journals published by the author </h2>
    <ul>
    <% for(var i=0;i<journal.length;i++){ %>
        <li> <h3><%= journal[i]["sourcetitle"] %></h3></li>
    <% } %>
    </ul>

    <a href = <%= links%>><h2>Know more about the Author </h2> </a>

</div>

<%- include ('partials/footer.ejs'); -%>