<%- include ('partials/header'); -%>

<% console.log(Scopus);%>
<div id="bodybox">

  <table style="width:100%">

    <tr>

      <th>Serial Number</th>

      <th>Faculty Name</th>

      <th>Scopus Id</th>

      <th>Author Id</th>

      <th>Citation Count</th>

      <th>Detailed Information</th>

      <th>Remove</th>
    </tr>
<% for(var i=0;i<Scopus.length;i++){ %>
  <tr>
    <td><%= i+1 %></td>
    <td id="name"><%= Scopus[i]["name"] %></td>
    <td><%= Scopus[i]["scopusId"] %></td>
    <td><%= Scopus[i]["authorId"] %></td>
    <td><%= Scopus[i]["citationCount"] %></td>
    <td><a href="#" onclick="viewDetail(this)">Click Here</a></td>
    <td><a href="#" onclick="remove(this)" class="close">X</a></td>
  </tr>
<% } %>
<script>
  function remove(x)
  {
    var name = x.parentElement.parentElement.childNodes.item(3).innerText;
    let form = document.createElement('form');
    form.action = '/removing';
    form.method = 'GET';

    form.innerHTML = '<input name="name" value="'+name+'">';

    // the form must be in the document to submit it
    document.body.append(form);

    form.submit();
  }

  function viewDetail(x)
  {
    var name = x.parentElement.parentElement.childNodes.item(3).innerText;
    let form = document.createElement('form');
    form.action = '/details';
    form.method = 'GET';

    form.innerHTML = '<input name="name" value="'+name+'">';

    // the form must be in the document to submit it
    document.body.append(form);

    form.submit();
  }
</script>

<!--
    <tr>
      <td>1</td>

      <td>Bill Gates</td>

      <td>55577854</td>

      <td>253</td>

      <td><a href = '/search/serial'>More info</a></td>

    </tr>
-->
  </table>
  <div id='buttondiv'>
  <button type="submit"><a href="/addNew" > Add new </a></button>
</div>
</div>

<%- include ('partials/footer.ejs'); -%>