<!DOCTYPE html>
<html>
    <head>
        <title>
            Scopus Citation Updater
        </title>
        <link rel = "stylesheet" type="text/css" href="/serial.css">
        <link rel="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&scp=49549114022&origin=inward"/>
    </head>
    <body>

<% var rests = data[0]["text"]%>
<% var searchdata = JSON.parse(rests) %>
<% var serialmetadata = searchdata["serial-metadata-response"] %>

<% var entry = serialmetadata['entry'][0] %>
<% var sniplist = entry['SNIPList']['SNIP'] %>
<% var sjrlist = entry['SJRList']['SJR'] %>
<% var citescore = entry['citeScoreYearInfoList'] %>

<% var links = entry["link"] %>


<div id ="bodybox">
<h1> SNIPLIST</h1>
    <h3>
        
        <% for(var i=0;i<sniplist.length;i++) { %>
            <%= sniplist[i]['$'] %>
        
        <%}%>
    </h3>
        
<h1> SJRLIST</h1>       
    <h3>
        <% for(var i=0;i<sjrlist.length;i++) { %>
            <%= sjrlist[i]['$'] %>
        
        <%}%>
    </h3>
<h1> CiteScoreYearInfoList</h1>
    
         <h2>CiteScoreCurrentMetric</h2>
                <h4><%= citescore["citeScoreCurrentMetric"] %></h4>
        
        
         <h2>CiteScoreCurrentMetricYear</h2>
                <h4><%= citescore["citeScoreCurrentMetricYear"] %></h4>
        
         
          <h2>CiteScoreTracker</h2> 
                 <h4><%= citescore["citeScoreTracker"] %></h4>
        
          
           <h2>CiteScoreTrackerYear</h2>
                <h4><%= citescore["citeScoreTrackerYear"] %></h4>
        
    
</p>  


<h1> Various Links</h1>
    <p>
        
        <% for(var i=0;i<links.length;i++) { %>
        
            <% var object = links[i]['@ref'] %>
            <% var link = links[i]['@href'] %>
               <h1> <%= object %> </h1>
            
            <% if (object==="coverimage") { %>
                <img src=<%=link%>>
            <% } %>
            
            <% if (object!="coverimage") { %>
             <a href = <%=link%> >
                <%=links[i]['@href'] %>
             </a>
            <% } %> 
        <%}%>
</p>

</div>

<%- include ('partials/footer.ejs'); -%>